@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.concluida {
    text-decoration: line-through;
    color: white;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    background-color: gray;
    text-align: center;
    
    user-select: none;      
    color: white;
}

h1 {
    font-family: Arial, sans-serif;
    color: #96D4D4;
    font-weight: 600;
}

#mensagem-erro {
  animation: fadeIn 0.5s ease;
  display: none;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
}


#input {
  margin: 30px;
  background: white;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px #96D4D4;
  color: #96D4D4;
}
#input::placeholder {
  color: #96D4D4;
}

#btn {
  transition: background-color 0.2s ease, transform 0.1s ease;
  background: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px #96D4D4;
  color: #96D4D4;
  cursor: pointer;
}

#btn:hover {
  background-color: #e0e0e0;
}

#btn:active {
  transform: scale(0.95);
}

.head th{
    background-color: #96D4D4;
    border: 2px solid black;
}

.body li  {
  animation: fadeUp 0.3s ease;
  margin-bottom: 5px;
  border-collapse: collapse;
  color: #96D4D4;
}

.body {
    background-color: white;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

